.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 10px 0px 30px -10px rgba(71, 70, 70, 0.75);
  -webkit-box-shadow: 10px 0px 30px -10px rgba(111, 107, 107, 0.75);
}
.noteHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
  margin-block: 50px;
}
.nameArea {
  width: 100%;
}

.nameBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block: 10px;
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
  border-radius: 10px;
}
.nameBox:hover {
  scale: 1.04;
}
.groupSortName {
  font-size: 2rem;
  color: #dae5f5;
  display: grid;
  place-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 30px;
}
.groupName {
  font-size: 2rem;
}
.addNots {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 7rem;
  padding: 42px;
  color: #dae5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 17%;
  cursor: pointer;
  transition-duration: 500ms;
}
.addNots:hover {
  scale: 1.07;
  transform: rotate(90deg);
}
.active {
  background: rgb(163, 163, 163);
}
